$accentColor = #007741
$textColor = #232521
$textShadow = 0

// 首页图片上文字颜色
.home-blog .hero h1, .home-blog .hero .description, .home-blog .hero .action {
  user-select: none;
}
// 文章和标签中间的竖线
.home-blog .home-blog-wrapper .info-wrapper .num > div:first-child {
    border-right: 1px solid #eaecef;
}
// 代码块中背景和文字颜色
.content__default {
  code {
    color: rgb(20, 130, 220)!important
    background-color: rgba(27,31,35,0.1) !important;
  }
  pre, pre[class*="language-"] {
    code {
      color #fff !important
    }
  }
}
.info-wrapper .category-wrapper .category-item{
  box-shadow: none !important;
}
.comments-wrapper .valine-wrapper #valine.v .vlist .vh .vcontent {
  box-shadow: none !important;
}
.comments-wrapper .valine-wrapper #valine.v .vlist .vh .vmeta .vat {
  box-shadow: nonec;
}

.navbar {
  background: #b2d8c7 !important;
  background: -webkit-linear-gradient(to bottom, #b2d8c7, #3eaf7c) !important;
  background: linear-gradient(to bottom, #ceffa0, #3eaf7c) !important;
}
header .links {
  background-color:transparent !important;
}
.social-links .social-item:nth-child(3N + 1)>i {
  color: rgb(0, 242, 255) !important;
}
.social-links .social-item:nth-child(3N + 2)>i {
  color: rgb(0, 91, 248) !important;
}
.social-links .social-item:nth-child(3N)>i {
  color: rgb(255, 0, 0) !important;
}

// 切换页面动画修复
main>section {
  // transition: transform 0.25s ease-in-out 0.32s, opacity 0.25s ease-in-out 0.32s; transform: translateY(0px); opacity: 1;
  transition: transform 0.25s ease-in-out 0.25s, opacity 0s ease-in-out 0s !important;
  transform: translateY(0px) !important;
  opacity: 1 !important;
}
main>.side-bar {
  transition: transform 0.25s ease-in-out 0.25s, opacity 0s ease-in-out 0s !important;
  transform: translateY(0px) !important;
  opacity: 1 !important;
}

// 评论自定义样式
.vssue-comment-avatar img {
  border-radius: 50% !important;
}

.vssue-status-info>a {
  font-size: 0;
}
.vssue-status-info>a::before {
  content: '点击盖楼~';
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  color: #007741;
  text-decoration: none;
}
.vssue-comment-main img {
  max-height: 100px;
}
@media screen and (min-width: 320px) {
    .vssue-comment-main img {
        max-height: 100px;
    }
}

@media screen and (min-width:990px) {
    .vssue-comment-main img {
        max-height: 200px;
    }
}

@media screen and (min-width: 1500px) {
    .vssue-comment-main img {
        max-height: 300px;
    }
}

// code + step 展示太挤
.language-yml {
  padding-right: 10px;
}