$accentColor = #038ba7
$textColor = #232521
$textShadow = 0
$color = #a2d5ec

.theme-container {
  overflow-x: hidden;
}
// 首页图片背景色
.home-blog {
  background: linear-gradient(to top, rgba(55, 76, 107, 255) 0%, rgb(114, 160, 201) 80%, rgb(157, 206, 249) 90%, #fff 100%) !important;
}
.pagation {
  background-color: rgba(114, 160, 201, 0);
  color: #fff;
}
.footer-wrapper {
  border-top:  rgba(55, 76, 107, 255) !important;
  background-color: rgba(55, 76, 107, 255) !important;
}
@media screen and (min-width: 320px) {
  .home-blog>.hero {
    width: 100vw;
    height: 45vw;
  }
}

@media screen and (min-width: 990px) {
  .home-blog>.hero {
      height: 40vw;
  }
}

// 时间线背景色
.timeline-wrapper {
  margin: 0 0 !important;
  overflow: hidden;
  padding-left: 10vw !important;
  padding-right: 10vw !important;
  max-width: 100vw !important;
  background: linear-gradient(to top, rgba(55, 76, 107, 255) 0%, rgb(114, 160, 201) 80%, rgb(157, 206, 249) 97%, #fff 100%) !important;
  li span {
    color: #fff !important;
  }
}
.timeline-wrapper::before {
  content: '';
  display: block;
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: no-repeat url('/assets/img/bg.svg');
  background-position: bottom 50px  left 40%;
  background-size: cover;
  z-index: 0;
}
// 首页图片上文字颜色
.home-blog .hero h1, .home-blog .hero .description, .home-blog .hero .action {
  user-select: none;
}
// 文章和标签中间的竖线
.home-blog .home-blog-wrapper .info-wrapper .num > div:first-child {
    border-right: 1px solid #eaecef;
}
// 代码块中背景和文字颜色
.content__default {
  code {
    color: rgb(20, 130, 220)!important
    background-color: rgba(27,31,35,0.1) !important;
  }
  pre, pre[class*="language-"] {
    code {
      color #fff !important
    }
  }
}
.info-wrapper .category-wrapper .category-item{
  box-shadow: none !important;
}
.comments-wrapper .valine-wrapper #valine.v .vlist .vh .vcontent {
  box-shadow: none !important;
}
.comments-wrapper .valine-wrapper #valine.v .vlist .vh .vmeta .vat {
  box-shadow: nonec;
}

.navbar {
  background: #b2d8c7 !important;
  background: -webkit-linear-gradient(to bottom, #b7e1f5, #3e91b4) !important;
  background: linear-gradient(to bottom, #b7e1f5, #3e91b4) !important;
}
header .links {
  background-color:transparent !important;
}
.social-links .social-item:nth-child(3N + 1)>i {
  color: rgb(0, 242, 255) !important;
}
.social-links .social-item:nth-child(3N + 2)>i {
  color: rgb(0, 91, 248) !important;
}
.social-links .social-item:nth-child(3N)>i {
  color: rgb(255, 0, 0) !important;
}

// 切换页面动画修复
main>section {
  // transition: transform 0.25s ease-in-out 0.32s, opacity 0.25s ease-in-out 0.32s; transform: translateY(0px); opacity: 1;
  transition: transform 0.25s ease-in-out 0.25s, opacity 0s ease-in-out 0s !important;
  transform: translateY(0px) !important;
  opacity: 1 !important;
}
main>.side-bar {
  transition: transform 0.25s ease-in-out 0.25s, opacity 0s ease-in-out 0s !important;
  transform: translateY(0px) !important;
  opacity: 1 !important;
}

// 评论自定义样式
.vssue-comment-avatar img {
  border-radius: 50% !important;
}

.vssue-status-info>a {
  font-size: 0;
}
.vssue-status-info>a::before {
  content: '点击盖楼~';
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  color: #007741;
  text-decoration: none;
}
.vssue-comment-main img {
  max-height: 100px;
}
@media screen and (min-width: 320px) {
    .vssue-comment-main img {
        max-height: 100px;
    }
}

@media screen and (min-width:990px) {
    .vssue-comment-main img {
        max-height: 200px;
    }
}

@media screen and (min-width: 1500px) {
    .vssue-comment-main img {
        max-height: 300px;
    }
}

// code + step 展示太挤
.language-yml {
  padding-right: 10px;
}

// 密码页文字修改
.password-shadow.password-wrapper-in>.inputBox>span {
  font-size: 0 !important;
}
.password-shadow.password-wrapper-in>.inputBox>span::before {
  content: '请输入密码';
  font-size: 20px;
}

// 鼠标
body {
  --cursor-default: url("/assets/icons/cursor.svg") 5 5, pointer;
  --cursor-link: url("/assets/icons/cursor2.svg") 5 5, pointer;
  cursor: var(--cursor-default) !important;
}
a:hover {
  cursor: var(--cursor-link) !important;
}
.abstract-item {
  cursor: var(--cursor-link) !important;
}
.social-links>.social-item i {
  cursor: var(--cursor-link) !important;
}
.tags>span {
  cursor: var(--cursor-link) !important;
}
.friend-link-wrapper .friend-link-item {
  cursor: var(--cursor-default) !important;
}
.friend-link-wrapper .friend-link-item .popup-window-wrapper .popup-window .info .title .btn-go {
  cursor: var(--cursor-link) !important;
}
.el-tabs--border-card>.el-tabs__header .el-tabs__item {
  cursor: var(--cursor-link) !important;
}
.code-copy svg {
  cursor: var(--cursor-link) !important;  
}
.sub-sidebar-wrapper {
  cursor: var(--cursor-link) !important;  
}
.sub-sidebar-wrapper li {
  cursor: var(--cursor-link) !important;  
}
.vssue .vssue-new-comment .vssue-comment-avatar .vssue-icon {
  cursor: var(--cursor-link) !important;  
}
.vssue .vssue-button {
  cursor: var(--cursor-link) !important;  
}
.sidebar-group:not(.collapsable) .sidebar-heading:not(.clickable) {
  cursor: var(--cursor-default) !important;
}
.dropdown-wrapper {
  cursor: var(--cursor-default) !important;
}
.timeline-wrapper .timeline-content .year-wrapper li .title {
  cursor: var(--cursor-link) !important;
}
.pagation .pagation-list span.jump {
  cursor: var(--cursor-link) !important;
}
// 头像旋转
.personal-info-wrapper .personal-img:hover, .navbar .logo:hover {
  transform: rotate(18000deg);
  transform-origin: center center;
  transition: all 3s linear;
}
.personal-info-wrapper .personal-img:active, .navbar .logo:active {
  transform: rotate(-72000deg);
  transition: all .5s linear;
}